.footer-2 {
  
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $footer-background;
  color: $footer-color;
  padding: $base-spacing;
  width: 100%;
  a {
      color: $footer-link-color;

      &:hover {
        color: transparentize($footer-color, 0);
      }
    }
  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    float: left;
    @include media($large-screen) {
     
      margin-bottom: 0;
    }
  }

  .footer-main-links {
    float: left;
    font-size: .8em;
    margin-top: 1em;
  }
  ul {
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    padding-right: 1em;
    font-weight: 800;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    // margin-top: 0.7em;
    margin-top: 0.5em;
      float: right;
    @include media($large-screen) {

    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      @include media($large-screen) {
       float: right; 
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .7;
        height: 1.6em;
        padding: 1px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}