header {
  position: relative;
  font-weight: bold;
  margin: 2em auto 4em auto;
  @include span-columns(12);
  .logo {
    @include span-columns(12 of 12);
    text-align: center;
    @include media($break-small) {
      @include span-columns(1 of 12);
      text-align: left;
    }
  }
  .title {
    @include span-columns(12 of 12);
    text-align: center;
    margin-top: 1em;
    @include media($break-small) {
      @include span-columns(5 of 12);
      text-align: left;
      margin-top: 0;
    }
  }
  .menu {
    @include span-columns(12 of 12);
    list-style: none;
    text-align: center;
    margin-top: 0.7em;
    li {
      display: inline;
      padding: 0 5px;
      font-size: 1.3em;
    }
    @include media($break-small) {
      @include span-columns(6);
      text-align: right;
    }
    a {
      text-decoration: none;
      color: #000;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
    }

  }
  h1 {
    font-family: $Open-Sans-Con;
    margin-top: -2px;
    margin-left: 25px;
  }
}