<!-- <footer>
  <ul>
    <li>Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>.<li>
    <li class="tag">
      View on Github <a href="http://github.com/kencrocken/beerapp" class="github">
      <span class="github icon-uniE601"></span><span class="mls"></a>
    </li>
  </ul>
</footer> -->



<footer class="footer-2">
  <div class="footer-logo">
    <!-- <div class="logo">
      <span class="beer-icon icon-uniE600"></span>
    </div> -->
  </div>
  <div class="footer-main-links">
    Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>.
  </div>

    <div class="footer-secondary-links">
      <ul>
        <!-- <li><a href="javascript:void(0)">Privacy Policy</a></li> -->
      </ul>

      <ul class="footer-social">
        <li><%= link_to '<span class="icon-home"></span>'.html_safe, root_path %></li>
        <li><%= link_to '<span class="icon-info"></span>'.html_safe, static_pages_about_path %></li>
        <li><%= link_to '<span class="icon-uniE601"></span>'.html_safe, "http://github.com/kencrocken/beerapp" %></li>
        <!-- <li>Back to <a href="#top" target="_blank">Top</a>.</li> -->
      </ul>
    </div>
</footer>