%header
  .logo
    %span.beer-icon.icon-uniE600
  .title
    %h1 Beer Lookup 
  .menu
    %ul
      %li=link_to '<span class="icon-home"></span>'.html_safe, root_path
      %li=link_to '<span class="icon-info"></span>'.html_safe, about_path
      %li=link_to '<span class="icon-uniE601"></span>'.html_safe, 'http://github.com/kencrocken/beerapp'
