<!DOCTYPE html>
<html>
<head>
  <title>Beerapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <header>
      <h1>Beer Lookup</h1>
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>.</footer>
  </div> <!-- Wrapper -->
</body>
</html>
